.header {
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;

}

.header a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}