.cart {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.desc {
    font-size: 18px;
    font-weight: bolder;
}

.select {
    background-color: burlywood;
    padding: 10px;
    border-radius: 15px;
}